@import "colores";

*{ /*Reseteo universal*/
    margin:0;
    padding:0
}

body { /*Fuente del sitio*/
    font-family: 'Ubuntu', sans-serif;
}

nav ul{ /*Menú Flexbox*/                      /*Nesting -SASS*/
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
        li { /*Box-modelling botones*/
        padding: 10px;
        border-top: 2px solid $colorfont_nav; 
        border-right: 3px solid $colorfont_nav; 
        border-left: 1px solid $colorfont_nav;
        border-bottom: 1px solid $colorfont_nav;
        margin: 4px;
            &:hover{                           /*& -SASS-*/
                background-color: $color_hover_nav;
            }
            a{ /*Color de los links*/
                color: $color_border_nav;
                &:hover{
                    color: white;
                }
            }
        }
}


.subtitulos{
    font-family: 'Bangers', cursive;
    font-size: 32px;
}

.subir{
    font-family: 'Indie Flower', cursive;
    color: rgb(185, 86, 185);
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.h1format{
    color: white;
    border: none;
}

.font_fichas{
    font-family: 'Courier Prime', monospace;
}

.font_movietitles{
    @extend .font_fichas;
    font-size: 27px;
}


.starsformat{
color: goldenrod;
font-size: 32px;
}

.underline{
    text-decoration: underline;
}

.font-size-for-extend{ /*Clase para usar en el EXTEND*/
    font-size: 24px;
}

@mixin home_text ($padleft,$padtop,$color,$textalign,$fontweight)
{
    padding-left: $padleft; /*3%*/
    padding-top: $padtop;/*3%*/
    color: $color;/*#55286f*/
    text-align: $textalign;/*justify*/
    font-weight: $fontweight;/*bold*/
}

.home_text { /*Fuente de texto del index --- Aplico INCLUDE de MIXIN y EXTEND*/
    @include home_text(3%,3%,#55286f,justify,bold);
    @extend .font-size-for-extend;
}


$background__image: ( /*Imagen de fondo del index --- Aplico MAP*/
    "position": absolute,
    "background-size": initial,
    "width": 100%,
    "height": 100%,
    "opacity": 0.3,
    "z-index": 1,
);

.background__image{ /*Imagen de fondo de INDEX*/
    position: map-get($background__image,"position");
    background-size: map-get($background__image,"background-size");
    width: map-get($background__image,"width");
    height: map-get($background__image,"height");
    opacity: map-get($background__image,"opacity");
    z-index: map-get($background__image,"z-index");
}



.page-selected{ /*Color del botón seleccionado en el menú*/
    background-color: rgb(185, 86, 185);
}

.contenedor-menu{ /*Box-modelling de contenedor del menú*/
    background-image: linear-gradient(to bottom, black, grey); /*Gradient*/
    width: 100%;
    align-items: center;
    border: 2px solid red;
}

.menu{ /*Box-modelling de los botones del menú*/
    list-style: none;
    padding: 10px;
}


section ul li { /*Submenú páginas - Será futuro grid y flexbox*/
    display: inline-block;
    padding: 10px;
    margin-left: 10px;
            a { /*Formato de links del submenú*/
            text-decoration: none;
            color: #55286f;
            font-weight: bold;       
            }
}

#sections a:after{ /*CÓMO HAGO APARECER ESTOS SEPARADORES ENTRE LINKS DEL SECTION? NO SE VEN*/
    contain: "|";
}

.img-adjust-index{ /*Ajuste auto  de la imagen de INDEX (p/responsive)*/
    width: 100%;
    height: auto;
    object-fit:scale-down;
}

.img-adjust{ /*Ajuste de imgs de ABOUT*/
    width: 100%;
/*     height: 100%; */
}

.about_text{ /*Ajuste de texto de ABOUT*/
    text-align: justify;
    color: #55286f;
    font-size: 20px;
/*     vertical-align: middle; */
}


/*GRIDS DE INDEX y ABOUT*/

.grid-padre-index{
    display:grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: auto 90%;
    grid-template-areas: "grid-menu grid-menu"
                         "grid-img-index grid-text-index";       
    position: relative;
    z-index: 2;
}

.grid-menu{
    grid-area: grid-menu;
}

.grid-img-index{
    grid-area: grid-img-index;
    height: 100%;
    display: flex;
    justify-items: center;
    padding-top: 3%;
    padding-right: 5%;
}

.grid-text-index{
    grid-area: grid-text-index;
    height: 100%;
    display: flex;
    align-items: center;
    padding-top: 3%;
    padding-right: 5%;
}


.grid-padre-about{
    display: grid;
    grid-template-columns: 35% 35% 30%;
    grid-template-rows: 10% 90%;
    grid-template-areas: "grid-menu  grid-menu  grid-menu"
                         "grid-fotosizq-about  grid-text-about  grid-fotosder-about";
}

.grid-fotosizq-about{
    grid-area: grid-fotosizq-about;
}

.grid-text-about{
    grid-area: grid-text-about;
    padding: 3%;
}
.grid-fotosder-about{
    grid-area: grid-fotosder-about;
}



/*ANIMACIONES, ETC*/

.animacion-text-about{
    animation: animacion-appear 4s ease 1;
}

.animation-fotos-about{
animation: animacion-fotos-appear 8s ease 1;
}

@keyframes animacion-appear{
    from{opacity: 0;}
    to{opacity:1}
}
@keyframes animacion-fotos-appear{
    0%{opacity: 0;}
    50%{opacity: 0.5;}
    75%{opacity: 0.8;}
    100%{opacity: 1;
         transform: rotateX(360deg);}
}

.transform-img-index:hover{ /*Transform Rotate + Transition*/
    transform: rotateY(360deg);
    transition: all 3s;
}

/* .transform-fotosizq-about{
    transform: skewX(5deg);
}

.transform-fotosder-about{
    transform: skewX(-5deg);
}
 */

 @media screen and (max-width: 390px){ /*Responsive*/

    .grid-padre-index{
        display:grid;
        grid-template-columns: 35% 65%;
        grid-template-rows: auto 30% 60%;
        grid-template-areas: "grid-menu grid-menu"
                            "grid-img-index grid-img-index"
                            "grid-text-index grid-text-index";                        
    }
    
    .grid-padre-about{
    display: grid;
    grid-template-columns: 60% 20% 20%;
    grid-template-rows: auto 40% 50%;
    grid-template-areas: "grid-menu  grid-menu  grid-menu"
                        "grid-text-about  grid-fotosizq-about  grid-fotosizq-about"
                        "grid-text-about grid-fotosder-about grid-fotosder-about";
    }

    .grid-menu{
        position: relative;
    }

    .home_text {
        font-size: inherit;
    }

    .about_text{
        font-size: inherit;
    }

    .grid-fotosizq-about{
        position: relative;
    }

    .grid-fotosder-about{
        position: relative;
    }

}